<div class="col-lg-12 banner">
  <div class="title3">Know the companies and Start your own RoR career in Israel!</div>
  <br>
  <h4>Reviews, Salaries, Positions, all you need to know better about the RoR market.</h4>
</div><br>
<div class="col-lg-9 no-pad">
  <br>
<h1 class="title">Top Companies:</h1><br>
<% @companies.each do |company| %>
    <%= link_to "/companies/#{company.permalink}" do %>
    <div class=" col-xs-12 col-md-4 col-lg-3 no-pad">
      <div class="panel panel-default" id="panel-company">
        <div class="panel-heading" id="company">
        <h4 class="title4"><%= company.name %></h4>
        </div>
        <div class="panel-body center">
          
        <%= image_tag company.picture_url, class: "logo2" %><br><br>
        <% if company.reviews.blank? %>
          <div class="stars" data-score=0 ></div>0 Review<br>
        <% else %>
          <div class="stars" data-score= <%= company.reviews.average(:rate).round(2) %> ></div><%=  pluralize(company.reviews.count, ' Review')%><br>
        <% end %>
      
        </div>
        <div class="panel-footer">
        <!-- %= link_to 'Edit', edit_company_path(company) %-->
        <!-- %= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %-->
      </div>
      </div>
      </div>
      <% end %>
    <% end %>
    </div>
    
    <script>
$('.stars').raty({
  path:'https://s3.amazonaws.com/yelpdemo/stars',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>