

<h1 class="title">Top Companies</h1>
<hr class="style-one">

    <% @companies.each do |company| %>
    
    <div class=" col-xs-12 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <%= link_to "/companies/#{company.permalink}" do %>
        <div class="panel-heading company">
        <h4><%= company.name %></h4>
        </div>
        <% end %>
        <div class="panel-body">
        <%= image_tag company.picture_url, class: "logo" %><br><br>
        <% if company.reviews.blank? %>
          <div class="stars" data-score=0 ></div>0 Review<br>
        <% else %>
          <div class="stars" data-score= <%= company.reviews.average(:rate).round(2) %> ></div><%=  pluralize(company.reviews.count, ' Review')%><br>
        <% end %>
        <%= company.address %><br>
        <%= company.description %>
        </div>
        <div class="panel-footer">
        <!-- %= link_to 'Edit', edit_company_path(company) %-->
        <!-- %= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %-->
      </div>
      </div>
      </div>
    <% end %>
<br><br>
<div>
<%= link_to 'New Company', new_company_path %>
</div>

<script>
$('.stars').raty({
  path:'https://s3.amazonaws.com/yelpdemo/stars',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>