

<div class="fleft"><h1 class="title">Top Companies</h1></div>
<div class="fright"><br><br>Your company is not here? Please&nbsp<a href="mailto:pietro.majowka@gmail.com"><b>contact me!</b></a></div>
<div class="clear"></div>
<hr class="style-one">
<br>

    <% @companies.each do |company| %>
    <%= link_to "/companies/#{company.permalink}" do %>
    <div class=" col-xs-12 col-md-4 col-lg-3">
      <div class="panel panel-default" id="panel-company">
        <div class="panel-heading" id="company">
        <h4 class="title2"><%= company.name %></h4>
        </div>
        <div class="panel-body center">
          
        <%= image_tag company.picture_url, class: "logo" %><br><br>
        <% if company.reviews.blank? %>
          <div class="stars" data-score=0 ></div>0 Review<br>
        <% else %>
          <div class="stars" data-score= <%= company.reviews.average(:rate).round(2) %> ></div><%= pluralize(company.reviews.count, 'Review')%><br>
        <% end %>
        <div><%= pluralize(company.positions.count, 'Position') %><br></div>
      
        </div>
        <div class="panel-footer">
        <!-- %= link_to 'Edit', edit_company_path(company) %-->
        <!-- %= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %-->
      </div>
      </div>
      </div>
      <% end %>
    <% end %>
<br><br>

<% if user_signed_in? && current_user.admin? %>
<div>
<%= link_to 'New Company', new_company_path %>
</div>
<% end %>
<br><br>
<script>
$('.stars').raty({
  path:'https://s3.amazonaws.com/yelpdemo/stars',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>