
<div class="col-lg-4">
  <%= image_tag @company.picture_url %><br>
  
    <h1 class="title"><%= @company.name %></h1>
     <p>
       <div class="stars" data-score= <%= @avg_rating %> ></div><br>
      <strong>Address:</strong>
      <%= @company.address %>
    </p>
    
    
      <strong>Description:</strong>
      <%= @company.description %>
</div>
<div class="col-lg-8 right">
  <iframe
    width="700"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBqyniixmOcxfxQjZx2OX2bB-pLJkh05Dc
      &q=<%= @company.address.parameterize %>" >
  </iframe>
  <br>
  </div>
<div class="col-lg-12 show-space">
  <hr class="style-one">
  <% unless @already_reviewed %>
    <%= link_to 'Write a review', new_company_review_path(@company.id), class: "btn btn-primary btn-review" %><br><br>
  <% end %>
  <% @company.reviews.each do |review| %>
    <b>Rate:</b><div class="stars" data-score= <%= review.rate %> ></div>
    <b>Comment:</b>&nbsp
    <% if review.user_id == @user_id %>
    <%= link_to 'Edit', "/companies/#{@company.id}/reviews/#{review.id}/edit" %>
    <% end %>
    <br><%= review.content %>
    <br>
    
    <br>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
  <% end %>
</div>
<script>
$('.stars').raty({
  path:'https://s3.amazonaws.com/yelpdemo/stars',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>