
<div class="col-lg-4">
  <%= image_tag @company.picture_url %><br>
  
    <h1 class="title"><%= @company.name %></h1>
     <p>
       <div class="stars" data-score= <%= @avg_rating %> ></div><br>

      <strong>Address:</strong>
      <%= @company.address %>
    </p>
    <strong>Website:</strong>
     <%= link_to "#{@company.site}", "http://#{@company.site}" %> <br><br>
    
      <strong>Description:</strong>
      <%= @company.description %><br><br>
</div>
<div class="col-lg-8 right">
  <iframe
    width="700"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBqyniixmOcxfxQjZx2OX2bB-pLJkh05Dc
      &q=<%= @company.address.parameterize %>" >
  </iframe>
  <br>
  </div>
   
   <div class="col-lg-12">
     <br><br>
  <hr class="style-one">
  </div>
<div class="col-lg-8 show-space">
    <br>
  <% unless @already_reviewed %>
    <%= link_to 'Write a review', new_company_review_path(@company.id), class: "btn btn-primary btn-review" %><br><br>
  <% end %>
  <% @company.reviews.each do |review| %>
  <div class="review">
    <b>Rate:</b><div class="stars" data-score= <%= review.rate %> ></div>
    <b>Comment:</b>&nbsp
    <% if review.user_id == @user_id %>
    <%= link_to 'Edit', "/companies/#{@company.id}/reviews/#{review.id}/edit" %>
    <% end %>
    <br><%= review.content %>
    <br> <br>
    <b>User:</b>&nbsp<%= review.user.email %>, at:&nbsp<%= review.created_at.strftime("%d/%m/%Y") %>
    <br>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
  <% end %>
</div>
<div class="col-lg-1">
  </div>
  
<div class="col-lg-3 positions">
  <h4>Jobs at <%= @company.name %>:<br></h4>
      <% @company.positions.each do |position| %>
       <hr class="style-two">
       <strong>Position:</strong>&nbsp<%= position.title %><br> <strong>Description:</strong>&nbsp<%= position.description %><br>
      
      <% end %>
      
      
      <% if user_signed_in? && current_user.admin? %>
      <br><%= link_to 'New position', new_company_position_path(@company.id), class: "btn btn-primary btn-review" %><br>
      <% end %>
</div>
<script>
$('.stars').raty({
  path:'https://s3.amazonaws.com/yelpdemo/stars',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>