<%= form_for([@company, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stars"></div>
  <div class="field">
    <%= f.label :content%><br>
    <%= f.text_area :content, cols: 180, rows: 8  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$('#stars').raty({
  path:'https://s3.amazonaws.com/yelpdemo/stars',
  scoreName: 'review[rate]'
});
</script>