<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Rji</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>
   <!-- Wrap all page content here -->
    <div id="wrap">
<%= render 'layouts/header' %>
      <!-- Begin page content -->
      <div class="container">
        <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <%= yield %>
        </div>
    </div>
    <div id="footer">
        <%= render 'layouts/footer' %>
    </div>

</body>
</html>
